<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kreiraj dokument</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" integrity="sha256-39jKbsb/ty7s7+4WzbtELS4vq9udJ+MDjGTD5mtxHZ0=" crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body class="okvir">
    <div class="container center mt__70">
        <img src="img/logo-png.png" alt="Logo">
        <div class="clearfix"> </div>
        
        <ul class="navigacija">
            <li><a href="kreiraj.html"><i class="far fa-file-alt"></i> Kreiraj novi dokument</a></li>
            <li><a href="nacrti.html"><i class="far fa-save"></i> Nacrti dokumenata</a></li>
            <li><a href="istorija.html"><i class="fas fa-history"></i> Istorija</a></li>
            <li><a href="profil.html" class="aktivno"><i class="far fa-user-circle"></i> Profil</a></li>
            <li><a href="index.html" class="odjava"><i class="fas fa-sign-out-alt"></i> Odjava</a></li>
        </ul>
        
        <div class="clearfix"> </div>
        
        <h2 class="mt__70">Pregled i izmena profila</h2>

        <div class="container profile">
            <div class="row justify-content-md-center">
            <div class="col-9">
                  <div class="row justify-content-md-center">
                    <div class="col-sm">
                      <label>Korisničko ime <span class="required">*</span></label>
                      <input type="text" placeholder="Unesite Vaš e-mail" value="mladen.radic" class="unos" disabled>
                    </div>
                    <div class="col-sm">
                      <label>Lozinka <span class="required">*</span></label>
                      <input type="text" placeholder="*************" value="*************" class="unos">
                    </div>
                    <div class="col-sm">
                      <label>E-mail <span class="required">*</span></label>
                      <input type="text" value="mladen.radic@6s.rs" class="unos">
                    </div>
                  </div>
                  
                  <div class="row justify-content-md-center">
                    <div class="col-sm">
                      <label>Ime i prezime <span class="required">*</span></label>
                      <input type="text" class="unos" value="Mladen Radić">
                    </div>
                    <div class="col-sm">
                      <label>Kompanija</label>
                      <input type="text" value="Sixth Sense" class="unos">
                    </div>
                    <div class="col-sm">
                      <label>Adresa</label>
                      <input type="text" value="Veljka Dugoševića 27j" class="unos">
                    </div>
                  </div>
                  
                  <div class="row justify-content-md-center">
                    <div class="col-sm">
                      <label>Telefon <span class="required">*</span></label>
                      <input type="text" value="0642222324" class="unos">
                    </div>
                    <div class="col-sm">
                      <label>Autentifikacioni kod <span class="required">*</span></label>
                      <input type="text" value="[c(57vV^)Y@[.6PNZpJZ%+>u_M5vB3zxJMp5Dd?.[x5-h9FH" class="unos">
                    </div>
                    <div class="col-sm">
        
                    </div>
                  </div>
            </div>
             <div class="col-3">
                      <img src="img/profile.png" class="img-fluid circle">
            </div>
            </div>
            
            <div class="row justify-content-md-center">
                <button type="button" class="btn btn-primary dugme standard-dugme">Sačuvaj</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary dugme standard-dugme plavo">Odustani</button>
            </div>

          
        </div>

    </div>
</body>

</html>
